.titlePage {
    color: aquamarine;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: bold;
}

.containerClass{
    margin: 15px;
    background-color: aquamarine;
    padding: 5px;
}