.structure {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  margin-top: 20px;
}

.card {
  margin: 20px;
  border: black 5px solid;
  border-radius: 10px;
  overflow: visible;
  transition: box-shadow 0.3s ease, transform 0.3s ease, filter 0.3s ease;
}

.card:hover {
  box-shadow: 0px 0px 20px 20px rgba(5, 138, 118, 0.5);
  transform: translateY(-10px);
  filter: brightness(1.2);
}

.container {
  margin: 0 auto;
  width: 70%;
  background: linear-gradient(to bottom right, rgb(1, 59, 59), aquamarine, #236e79);
  border: black 1px solid;
  border-radius: 10px;
  text-align: center;
  margin-top: -50px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3); /* Ajusta el valor de la segunda propiedad (20px) para controlar la profundidad del efecto */
}

.title {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 1.3rem;
  font-weight: bold;
  color: aquamarine;
}

.price {
  font-size: 1.3rem;
  color: darkcyan;
}

.information {
  padding: 5px;
  color: black;
}

.buttonChange {
  margin: 20px;
  padding: 10px 20px;
  background-color: aquamarine;
  color: darkcyan;
  border: black 1px solid;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonChange:hover {
  background-color: darkcyan;
  color: aquamarine;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
  margin-top: 5px;
}

/* Estilos dispositivos medianos */
@media screen and (max-width: 768px) {
  .structure {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
    width: 80%;
  }
  
  .card {
    margin: 30px auto;
  }

  .title{
    font-size: 1rem;
  }

  .price{
    font-size: 1rem;
  }
}

/* Estilos dispositivos pequeños */
@media screen and (max-width: 576px) {

  .container {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .card {
    margin: 30px auto;
    max-width: 80%;
  }
}
