
.inicio{
  background: linear-gradient(to bottom right,  rgb(1, 59, 59),aquamarine, #236e79 );
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.imageContainer {
  margin: 40px;
  flex-grow: 0;
  width: 40%;
}

.imageInicio{
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 700px) {
  .inicio{
    flex-direction: column;
  }
  .imageInicio {
    display: none;
  }
}

.Login {
  color: aquamarine;
  flex-grow: 0;
  padding: 20px;
  background-color: darkcyan;
  border-radius: 40px;
  text-align: center;
  margin: 40px;
}

.form {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

input{
  width: 90%;
}